﻿@model Donate.Models.JenjangPendidikan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i><a href="/@controllerName">Jenjang Pendidikan</a></li>
    <li><i class="icon-angle-right"></i><i class="ui-icon-trash"></i><a href="/@controllerName/@actionName">Hapus Data</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white trash"></i><span class="break"></span>Hapus Data Jenjang Pendidikan</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>JenjangPendidikan</h4>
                <hr />
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.Jenjang)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Jenjang)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastModified)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastModified)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        <a href="@Url.Action("Index")" class="btn btn-danger">
                            Batal
                        </a>
                    </div>
                }
            </div>

        </div>
    </div><!--/span-->

</div><!--/row-->

