﻿@model Donate.Models.JenjangPendidikan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i><a href="/@controllerName">Jenjang Pendidikan</a></li>
    <li><i class="icon-angle-right"></i><i class="ui-icon-plus"></i><a href="/@controllerName/@actionName">Details Data</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white zoom-in"></i><span class="break"></span>Details Data Jenjang Pendidikan</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Jenjang)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Jenjang)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ModifiedBy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ModifiedBy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastModified)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastModified)
                    </dd>

                </dl>
            </div>
            <p>
                <a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-default">
                    Edit Data
                </a> |
                <a href="@Url.Action("Index")" class="btn btn-danger">
                    Kembali
                </a>
            </p>

        </div>
    </div><!--/span-->

</div><!--/row-->