﻿@model Donate.Models.Pesan

@{ 
    var nama = (Model.DonaturId == null) ? Model.GuestName : Model.Donatur.Nama;
    var dateDiff = (DateTime.Today - Model.LastModified.Date).TotalDays;
    string date = (dateDiff == 0) ? "Today, " : (dateDiff == 1) ? "Yesterday, " : Model.LastModified.ToShortDateString() + ", ";
}
<div class="message dark">

    <div class="header">
        <div class="from"><i class="halflings-icon user"></i> <b>@nama</b></div>
        <div class="date"><i class="halflings-icon time"></i> @date <b>@Model.LastModified.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</b> </div>

        <div class="menu"></div>

    </div>

    <div class="content">
        <blockquote>
            @Model.IsiPesan
        </blockquote>
    </div>

</div>