﻿@model Donate.Models.Pesan

@{
    ViewBag.Contact = "active";
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<!--contact start here-->
<div class="contact" id="contact">
    <div class="container">
        <div class="contact-top">
            <h3>Contact</h3>
        </div>
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Terimakasih</strong> @ViewBag.message
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="contact-grid">
                <div class="col-md-6 contact-us">
                    <input type="text" name="GuestName" placeholder="Nama" required="">
                </div>
                <div class="col-md-6 contact-us">
                    <input type="text" name="Email" placeholder="Email" required="">
                </div>
                <div class="clearfix"> </div>
            </div>
            <textarea name="IsiPesan" placeholder="Pesan"></textarea>
            <div class="send">
                <input type="submit" value="SEND">
            </div>
        }
        <div class="contact-bottom">
            <div class="col-md-5 sit-contact">
                <h5>Lorem ipsum dolor sit</h5>
                <div class="contact-add">
                    <p>consectetur adipiscing</p>
                    <p>ncididunt ut 795-4378</p>
                    <p>(586)769-9037</p>
                </div>
                <ul class="face">
                    <li class="active"><a href="#">facebook </a><span>/</span></li>
                    <li><a href="#">twitter </a><span>/</span></li>
                    <li><a href="#">linkedin </a><span>/</span></li>
                    <li><a href="#">dribbble</a></li>
                </ul>
            </div>
            <div class="col-md-7 main-map">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4944817.221906753!2d-6.8106824852535865!3d52.75994898863402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d0a98a6c1ed5df%3A0xf4e19525332d8ea8!2sEngland%2C+UK!5e0!3m2!1sen!2sin!4v1461331759355" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <span class="map-icon"> </span>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<!--contact end here-->
