﻿@model Donate.Models.Pesan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pesan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donatur.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donatur.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsiPesan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsiPesan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReaded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
