﻿@model IEnumerable<Donate.Models.Pesan>

@{
    ViewBag.Title = "Pesan";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<style>
    .sortable tr {
        cursor: pointer;
    }
</style>

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-envelope"></i><a href="/@controllerName"> Pesan</a></li>
</ul>

<div class="row-fluid">

    <div class="span7">

        <table id="table" class="table table-hover table-responsive">
            <tbody>
                @foreach (var item in Model)
                {
                    var dateDiff = (DateTime.Today - item.LastModified.Date).TotalDays;
                    string date = (dateDiff == 0) ? "Today, " : (dateDiff == 1) ? "Yesterday, " : item.LastModified.ToShortDateString() + ", ";
                    <tr class="sortable">
                        <td style="display:none;">@item.Id</td>
                        <td>
                            @if (item.IsReaded)
                            {
                                <i class="icon-envelope"></i>
                            }
                            else
                            {
                                <i class="glyphicons-icon message_new"></i>
                            }
                        </td>
                        <td style="vertical-align:middle">
                            @if (item.DonaturId != null)
                            {
                                <i class="badge-info">Donatur</i>
                            }
                            else
                            {
                                <i class="badge-warning">Guest</i>
                            }
                        </td>
                        <td>
                            @if (item.DonaturId != null)
                            {
                                <p>@item.Donatur.Nama</p>
                            }
                            else
                            {
                                <p>@item.GuestName</p>
                            }
                        </td>
                        <td>
                            @if (item.IsiPesan.Length > 70)
                            {
                                <p>@item.IsiPesan.Substring(0, 70) ...</p>
                            }
                            else
                            {
                                <p>@item.IsiPesan</p>
                            }
                        </td>
                        <td>
                            @date @item.LastModified.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="details" class="span5 noMarginLeft">

    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        $("#table").on('click', 'tr', function () {
            var id = $(this).find("td:first-child").text();
            console.log(id);
            $(this).toggleClass("select");
            $.ajax({
                url: '/Pesan/Read',
                method: 'POST',
                data: { id: id },
                success: function (result) {
                    $('#details').html(result);
                }
            });
        });
    </script>
}