﻿@model IEnumerable<Donate.Models.Mutasi>

@{
    ViewBag.Title = "Dana Keluar";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i> <a href="/@controllerName">Dana Keluar</a></li>
</ul>
@using (Html.BeginForm("Index", "DanaKeluar", FormMethod.Get))
{
    <div class="input-prepend">
        <span class="add-on pull-left">Dari</span>
        @Html.Editor("Start", new { htmlAttributes = new { @class = "input-large datepicker pull-left" } })
    </div>
    <div class="input-prepend">
        <span class="add-on pull-left">Sampai</span>
        @Html.Editor("End", new { htmlAttributes = new { @class = "input-large datepicker pull-left" } })
    </div>
    @Html.DropDownList("RekeningId", null, "Semua Rekening", htmlAttributes: new { @class = "form-control pull-left", @style = "width: 300px;" })
    <button type="submit" class="btn btn-primary pull-right">Lihat Data</button>
}
<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Tambah data &nbsp;<i class="halflings-icon white plus"></i></a>
</p>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="white icon-money"></i><span class="break"></span>Dana Keluar</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr style="text-align:center">
                        <th>
                            @Html.DisplayNameFor(model => model.Siswa.Nama)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rekening.Bank)
                        </th>
                        <th>
                            @Html.DisplayName("Nominal")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Keterangan)
                        </th>
                        <th>
                            @Html.DisplayName("Tgl input data")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ decimal total = 0; string nama = ""; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{ nama = (item.SiswaId == null) ? "-" : item.Siswa.Nama; }
                                @nama
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rekening.Bank)
                            </td>
                            <td style="text-align:right">
                                @string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:##,#0}", item.Debit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Keterangan)
                            </td>
                            <td>
                                @item.LastModified.ToString("dd MMM yyyy hh:mm tt")
                            </td>
                        </tr>
                        total += item.Debit;
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <b>Total</b>
                        </td>
                        <td style="text-align:right">
                            @string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:##,#0}", total)
                        </td>
                        <td colspan="2" style="text-align:center"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->