﻿@model Donate.Models.DataDiri

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    var gender = Model.JenisKelamin == "P" ? "Perempuan" : Model.JenisKelamin == "L" ? "Laki-Laki" : "-";
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i><a href="/@controllerName">Data Siswa</a></li>
    <li><i class="icon-angle-right"></i><i class="ui-icon-trash"></i><a href="/@controllerName/@actionName/@Model.Id">Hapus Data</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white trash"></i><span class="break"></span>Hapus Data Siswa</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            @Html.DisplayName("Agama")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Agama.Nama)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Golongan Darah")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.GolonganDarah.Nama)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StatusNikah.Status)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.StatusNikah.Status)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nama)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Nama)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Gelar Depan")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.GelarDepan)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Gelar Belakang")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.GelarBelakang)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Tempat Lahir")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TempatLahir)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Tgl Lahir")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.TglLahir)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Jenis Kelamin")
                        </th>
                        <td>
                            @gender
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Alamat")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Alamat)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Kewarganegaraan")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Kewarganegaraan)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Telephone")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.NoTelp)
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <th>
                            @Html.DisplayName("NIK KTP")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.NoKtp)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("ModifiedBy")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.ModifiedBy)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayName("Last Modified")
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.LastModified)
                        </td>
                    </tr>
                </table>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                    <a href="@Url.Action("Index")" class="btn btn-danger">
                        Batal
                    </a>
                </div>
            }

        </div>
    </div><!--/span-->

</div><!--/row-->
