﻿@model Donate.Models.DataDiri

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i><a href="/@controllerName">Sahabat Didik</a></li>
    <li><i class="icon-angle-right"></i><i class="ui-icon-plus"></i><a href="/@controllerName/@actionName">Edit Data</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Edit Data Sahabat Didik</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.Hidden("ModifiedBy", User.Identity.Name)
                @Html.Hidden("LastModified", DateTime.Now)
                @Html.Hidden("IsDonatur", false)

                <div class="form-horizontal">
                    <fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="control-group error">
                            @Html.LabelFor(model => model.Nama, htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Nama)
                                @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Gelar Depan", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.GelarDepan)
                                @Html.ValidationMessageFor(model => model.GelarDepan, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Gelar Belakang", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.GelarBelakang)
                                @Html.ValidationMessageFor(model => model.GelarBelakang, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Tempat Lahir", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.TempatLahir)
                                @Html.ValidationMessageFor(model => model.TempatLahir, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Tgl Lahir", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.TglLahir, new { htmlAttributes = new { @class = "input-large datepicker" } })
                                @Html.ValidationMessageFor(model => model.TglLahir, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Jenis Kelamin", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                <select id="JenisKelamin" name="JenisKelamin">
                                    <option value="L">Laki-Laki</option>
                                    <option value="P">Perempuan</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Alamat", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Alamat, new { @row = "3" })
                                @Html.ValidationMessageFor(model => model.Kewarganegaraan, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Kewarganegaraan", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Kewarganegaraan)
                                @Html.ValidationMessageFor(model => model.Kewarganegaraan, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Email", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Telephone", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.NoTelp)
                                @Html.ValidationMessageFor(model => model.NoTelp, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("NIK KTP", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.NoKtp)
                                @Html.ValidationMessageFor(model => model.NoKtp, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.LabelFor(model => model.AgamaId, "Agama", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownList("AgamaId")
                                @Html.ValidationMessageFor(model => model.AgamaId, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.LabelFor(model => model.StatusNikahId, "Status", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownList("StatusNikahId")
                                @Html.ValidationMessageFor(model => model.StatusNikahId, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.LabelFor(model => model.GolonganDarahId, "Gol. Darah", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownList("GolonganDarahId")
                                @Html.ValidationMessageFor(model => model.GolonganDarahId, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                Batal
                            </a>
                        </div>
                    </fieldset>
                </div>
            }

        </div>
    </div><!--/span-->

</div><!--/row-->