﻿@model IEnumerable<Donate.Models.Mutasi>

@{
    /**/

    ViewBag.Title = "Mutasi";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i> <a href="/@controllerName">Mutasi</a></li>
</ul>
@using (Html.BeginForm("Index", "Mutasi", FormMethod.Get))
{
    <div class="input-prepend">
        <span class="add-on pull-left">Dari</span>
        @Html.Editor("Start", new { htmlAttributes = new { @class = "input-large datepicker pull-left" } })
    </div>
    <div class="input-prepend">
        <span class="add-on pull-left">Sampai</span>
        @Html.Editor("End", new { htmlAttributes = new { @class = "input-large datepicker pull-left" } })
    </div>
    @Html.DropDownList("RekeningId", (IEnumerable<SelectListItem>)ViewBag.RekeningId, htmlAttributes: new { @class = "form-control pull-left", @style = "width: 300px;" })
    <button type="submit" class="btn btn-primary pull-right">Lihat Data</button>
}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="white icon-money"></i><span class="break"></span>Dana Keluar</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr style="text-align:center">
                        <th>
                            @Html.DisplayName("Tgl input data")
                        </th>
                        <th>
                            @Html.DisplayName("Donatur / Sahabat Didik")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Keterangan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Kredit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Debit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Saldo)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ decimal total = 0; string nama = ""; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.LastModified.ToString("dd MMM yyyy hh:mm tt")
                            </td>
                            <td>
                                @{ nama = (item.SiswaId != null) ? item.Siswa.Nama : (item.DonaturId != null) ? item.Donatur.Nama : "-"; }
                                @nama
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Keterangan)
                            </td>
                            <td>
                                @string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:##,#0}", item.Kredit)
                            </td>
                            <td style="text-align:right">
                                @string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:##,#0}", item.Debit)
                            </td>
                            <td style="text-align:right">
                                @string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("id-id"), "{0:##,#0}", item.Saldo)
                            </td>
                        </tr>
                        total += item.Debit;
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datatable').DataTable({
                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span12'i><'span12 center'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
                },
                "order": [[3, "desc"]]
            });
        });
    </script>
}
