﻿@model Donate.Models.DataDiri

@{
    ViewBag.Donate = "active";
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<!--Reg Donatur start here-->
<div class="contact" id="contact">
    <div class="container">
        <div class="contact-top">
            <h3>Register To Donate</h3>
        </div>

        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Terimakasih</strong> @ViewBag.message
            </div>
        }
        @if (ViewBag.exsistEmail != null)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Maaf, </strong> @ViewBag.exsistEmail
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="contact-grid">
                <div class="col-md-6 contact-us">
                    <input type="text" name="Nama" placeholder="Nama" required="">
                </div>
                <div class="col-md-6 contact-us">
                    <input type="text" name="Email" placeholder="Email" required="">
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="contact-grid">
                <div class="col-md-6 contact-us">
                    <input type="text" name="NoTelp" placeholder="No Telp" required="">
                </div>
                <div class="col-md-6 contact-us">
                    <input type="text" name="Alamat" placeholder="Alamat" required="">
                </div>
                <div class="clearfix"> </div>
            </div>
            <textarea name="Pesan" placeholder="Pesan"></textarea>
            <div class="send">
                <input type="submit" value="SEND">
            </div>
        }
        <div class="contact-bottom">
            <div class="clearfix"> </div>
        </div>
    </div>

</div>
<!--Reg Donatur end here-->
