﻿@using Donate.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/Content/Backend/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Backend/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/Content/Backend/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/Content/Backend/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="~/Content/Backend/css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="~/Content/Backend/css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/Content/Backend/img/favicon.ico">
    <!-- end: Favicon -->

    <style type="text/css">
        body {
            background: url(/Content/Backend/img/bg-login.jpg) !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid-full">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="login-box">
                    <div class="icons">
                        <a href="/"><i class="halflings-icon home"></i></a>
                        <a href="#"><i class="halflings-icon cog"></i></a>
                    </div>
                    <h2>Login to your account</h2>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <fieldset>
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="input-prepend" title="Username">
                                    <span class="add-on"><i class="halflings-icon user"></i></span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "input-large span10", @placeholder = "type email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="clearfix"></div>

                                <div class="input-prepend" title="Password">
                                    <span class="add-on"><i class="halflings-icon lock"></i></span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "input-large span10", @placeholder = "type password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="clearfix"></div>

                                <label class="remember" for="RememberMe"><input type="checkbox" id="RememberMe" />Remember me</label>

                                <div class="button-login">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                <div class="clearfix"></div>
                            </fieldset>
                        }
                    </section>
                </div><!--/span-->
            </div><!--/row-->


        </div><!--/.fluid-container-->

    </div><!--/fluid-row-->

    <script src="~/Content/Backend/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Backend/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/Content/Backend/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/Content/Backend/js/jquery.uniform.min.js"></script>

    <script src="~/Content/Backend/js/jquery.cleditor.min.js"></script>

    <script src="~/Content/Backend/js/custom.js"></script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}