﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="/@controllerName">@controllerName</a></li>
    <li><i class="icon-angle-right"></i><a href="/@controllerName/@actionName">@controllerName</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white picture"></i><span class="break"></span> Gallery</h2>
            <div class="box-icon">
                <a href="#" id="toggle-fullscreen" class="hidden-phone hidden-tablet"><i class="halflings-icon white fullscreen"></i></a>
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="masonry-gallery">
                <div id="image-1" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo1.jpg)" title="Sample Image 1" href="~/Content/Backend/img/gallery/photo1.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo1.jpg" alt="Sample Image 1"></a>
                </div>
                <div id="image-2" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo2.jpg)" title="Sample Image 2" href="~/Content/Backend/img/gallery/photo2.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo2.jpg" alt="Sample Image 2"></a>
                </div>
                <div id="image-3" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo3.jpg)" title="Sample Image 3" href="~/Content/Backend/img/gallery/photo3.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo3.jpg" alt="Sample Image 3"></a>
                </div>
                <div id="image-4" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo4.jpg)" title="Sample Image 4" href="~/Content/Backend/img/gallery/photo4.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo4.jpg" alt="Sample Image 4"></a>
                </div>
                <div id="image-5" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo5.jpg)" title="Sample Image 5" href="~/Content/Backend/img/gallery/photo5.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo5.jpg" alt="Sample Image 5"></a>
                </div>
                <div id="image-6" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo6.jpg)" title="Sample Image 6" href="~/Content/Backend/img/gallery/photo6.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo6.jpg" alt="Sample Image 6"></a>
                </div>
                <div id="image-7" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo7.jpg)" title="Sample Image 7" href="~/Content/Backend/img/gallery/photo7.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo7.jpg" alt="Sample Image 7"></a>
                </div>
                <div id="image-8" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo8.jpg)" title="Sample Image 8" href="~/Content/Backend/img/gallery/photo8.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo8.jpg" alt="Sample Image 8"></a>
                </div>
                <div id="image-9" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo9.jpg)" title="Sample Image 9" href="~/Content/Backend/img/gallery/photo9.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo9.jpg" alt="Sample Image 9"></a>
                </div>
                <div id="image-10" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo10.jpg)" title="Sample Image 10" href="~/Content/Backend/img/gallery/photo10.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo10.jpg" alt="Sample Image 10"></a>
                </div>
                <div id="image-11" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo11.jpg)" title="Sample Image 11" href="~/Content/Backend/img/gallery/photo11.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo11.jpg" alt="Sample Image 11"></a>
                </div>
                <div id="image-12" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo12.jpg)" title="Sample Image 12" href="~/Content/Backend/img/gallery/photo12.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo12.jpg" alt="Sample Image 12"></a>
                </div>
                <div id="image-13" class="masonry-thumb">
                    <a style="background:url(~/Content/Backend/img/gallery/photo13.jpg)" title="Sample Image 13" href="~/Content/Backend/img/gallery/photo13.jpg"><img class="grayscale" src="~/Content/Backend/img/gallery/photo13.jpg" alt="Sample Image 13"></a>
                </div>
            </div>
        </div>
        <div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <ul class="list-inline item-details">
                    <li><a href="http://themifycloud.com">Admin templates</a></li>
                    <li><a href="http://themescloud.org">Bootstrap themes</a></li>
                </ul>
            </div>
        </div>
    </div><!--/span-->

</div><!--/row-->
