﻿<!--banner start here-->
<div class="ban-mother-grid">
    <div class="slider">
        <ul class="rslides" id="slider1">
            <li>
                <div class="banner"></div>
            </li>
            <li>
                <div class="banner2"></div>
            </li>
            <li>
                <div class="banner3"></div>
            </li>
            <li>
                <div class="banner4"></div>
            </li>
        </ul>
    </div>
    @Html.Partial("_HeaderTopNav")
</div>
<!--banner end here-->
