﻿<li><a href="/Messages"><i class="icon-envelope"></i><span class="hidden-tablet"> Messages</span></a></li>
<li><a href="/Tasks"><i class="icon-tasks"></i><span class="hidden-tablet"> Tasks</span></a></li>
<li><a href="/Ui"><i class="icon-eye-open"></i><span class="hidden-tablet"> UI Features</span></a></li>
<li><a href="/Widgets"><i class="icon-dashboard"></i><span class="hidden-tablet"> Widgets</span></a></li>
<li>
    <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>
    <ul>
        <li><a class="submenu" href="/Submenu"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>
        <li><a class="submenu" href="/Submenu/Submenu2"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>
        <li><a class="submenu" href="/Submenu/Submenu3"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>
    </ul>
</li>
<li><a href="/Form"><i class="icon-edit"></i><span class="hidden-tablet"> Forms</span></a></li>
<li><a href="/Chart"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts</span></a></li>
<li><a href="/Typography"><i class="icon-font"></i><span class="hidden-tablet"> Typography</span></a></li>
<li><a href="/Gallery"><i class="icon-picture"></i><span class="hidden-tablet"> Gallery</span></a></li>
<li><a href="/Table"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
<li><a href="/Calendar"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span></a></li>
<li><a href="/File"><i class="icon-folder-open"></i><span class="hidden-tablet"> File Manager</span></a></li>
<li><a href="/Icon"><i class="icon-star"></i><span class="hidden-tablet"> Icons</span></a></li>
@*<li><a href="/Login"><i class="icon-lock"></i><span class="hidden-tablet"> Login Page</span></a></li>*@
