﻿@{
//var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<div class="header">
    <div class="container">
        <div class="logo wow bounceInLeft" data-wow-delay="0.3s">
            @*@if (controller == "Home")
        {
            <h1><a style="color:#FF6600" href="/">R-CALLS</a></h1>
            <h2 style="color:#2F308A">Rahmatan Lil'alamin College Access for Leaflong Learners</h2>
        }
        else
        {
            <div class="span2"><a href="/"><img class="img-rounded img-responsive" src="~/Content/Frontend/images/smallogo-nobg.png" /></a></div>
        }*@

            <div class="span2"><a href="/"><img class="img-rounded img-responsive" src="~/Content/Frontend/images/smallogo-nobg.png" /></a></div>

        </div>
        <div class="header-icons">
            <ul>
                <li><a href="#" class="fb"> </a></li>
                <li><a href="#" class="twit"> </a></li>
                <li><a href="#" class="gmail"> </a></li>
                <li><a href="#" class="dri"> </a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--navgation start here-->
<div class="top-nav">
    <span class="menu"> <img src="~/Content/Frontend/images/icon.png" alt="" /></span>
    <ul class="res">
        <li>
            <a class="@ViewBag.Home" href="/"><i class="glyphicon glyphicon-home"> </i>Home</a>
        </li>
        <li>
            <a class="@ViewBag.About" href="/About"><i class="glyphicon glyphicon-user"> </i>About</a>
        </li>
        <li>
            <a class="@ViewBag.Donate" href="/RegDonatur/Create"><i class="glyphicon glyphicon-list-alt"> </i>Donate</a>
        </li>
        <li>
            <a class="@ViewBag.Blog" href="/Blog"><i class="glyphicon glyphicon-globe"> </i>Blog</a>
        </li>
        <li>
            <a class="@ViewBag.Gallery" href="/Gallery"><i class="glyphicon glyphicon-picture"> </i>Gallery</a>
        </li>
        <li>
            <a class="@ViewBag.Contact" href="/Pesan/Create"><i class="glyphicon glyphicon-envelope"> </i>Contact</a>
        </li>
    </ul>
</div>
<!--navgation end here-->