﻿@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>
        R-CallS | College Access for Lifelong Learners
    </title>
    <link href="~/Content/Frontend/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/Frontend/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/Frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Donate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!--Google Fonts-->
    <link href="//fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Archivo+Narrow:400,700" rel="stylesheet" type="text/css" />
    <!--google fonts-->

    @if (controllerName == "Home")
    {
        <!-- animated-css -->
        <link href="~/Content/Frontend/css/animate.css" rel="stylesheet" type="text/css" media="all" />
        <script src="~/Content/Frontend/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <!-- animated-css -->

        <script src="~/Content/Frontend/js/responsiveslides.min.js"></script>
        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 1
                $("#slider1").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks"
                });
            });
        </script>
    }
</head>
<body>
    @*@if (controllerName == "Home")
    {
        @Html.Partial("_BannerHome")
    }
    else
    {
        @Html.Partial("_BannerContent")
    }*@
    @Html.Partial("_BannerContent")

    @RenderBody()

    <!--footer start here-->
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="col-md-4 ftr-grid wow zoomIn" data-wow-delay="0.3s">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/RegDonatur/Create">Donate</a></li>
                        <li><a href="/Blog">Blog</a></li>
                        <li><a href="/Pesan/Create">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 ftr-grid wow zoomIn" data-wow-delay="0.3s">
                    <h3>Latest Tweet</h3>
                    <div class="tweets">
                        <div class="tweet-icon">
                            <span class="tweet-img"> </span>
                        </div>
                        <div class="tweet-text">
                            <p>Lorem ipsum</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur But I must explain to you
                        how all this mistaken.
                    </p>
                </div>
                <div class="col-md-4 ftr-grid wow zoomIn" data-wow-delay="0.3s">
                    <h3>Keep In Touch</h3>
                    <div class="ftr-icons">
                        <div class="ftr-iblock">
                            <span class="glyphicon glyphicon-map-marker"> </span>
                        </div>
                        <div class="ftr-text">
                            <p>
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-icons">
                        <div class="ftr-iblock">
                            <span class="glyphicon glyphicon-earphone"> </span>
                        </div>
                        <div class="ftr-text">
                            <p>+12 894 8579</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="ftr-icons">
                        <div class="ftr-iblock">
                            <span class="glyphicon glyphicon-envelope"> </span>
                        </div>
                        <div class="ftr-text">
                            <p><a href="mailto:info@example.com">lorem@example.com</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer end here-->
    <!--copy rights start here-->
    <div class="copy-right">
        <div class="container">
            <div class="copy-rights-main wow zoomIn" data-wow-delay="0.3s">
                <p>
                    © 2016 Donate. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
        </div>
    </div>
    <!--copy right end here-->
</body>
</html>
