﻿
<li>
    <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Mater Data</span>&nbsp;<span class="label label-important"> 2 </span></a>
    <ul>
        <li><a class="submenu" href="/JenjangPendidikans"><i class="icon-file-alt"></i><span class="hidden-tablet"> Jenjang Pendidikan</span></a></li>
        <li><a class="submenu" href="/Rekening"><i class="icon-book"></i><span class="hidden-tablet"> Rekening</span></a></li>
        @*<li><a class="submenu" href="/Submenu/Submenu3"><i class="icon-file-alt"></i><span class="hidden-tablet"> Agama</span></a></li>*@
        @*<li><a class="submenu" href="/Submenu/Submenu3"><i class="icon-file-alt"></i><span class="hidden-tablet"> Status Pernikahan</span></a></li>*@
    </ul>
</li>
<li><a href="/DataSiswa"><i class="icon-user"></i><span class="hidden-tablet"> Sahabat Didik</span></a></li>
<li><a href="/DataDonatur"><i class="icon-user"></i><span class="hidden-tablet"> Donatur</span></a></li>
<li><a href="/DanaMasuk"><i class="icon-money"></i><span class="hidden-tablet"> Dana Masuk</span></a></li>
<li><a href="/DanaKeluar"><i class="icon-money"></i><span class="hidden-tablet"> Dana Keluar</span></a></li>
<li><a href="/Mutasi"><i class="icon-book"></i><span class="hidden-tablet"> Mutasi</span></a></li>
<li><a href="/Pesan"><i class="icon-envelope"></i><span class="hidden-tablet"> Pesan</span></a></li>
<li><a href="/ManageBerita"><i class="icon-globe"></i><span class="hidden-tablet"> Manage Berita</span></a></li>
