﻿@model Donate.Models.Mutasi

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i><a href="/@controllerName">Dana Masuk</a></li>
    <li><i class="icon-angle-right"></i><i class="icon-money"></i><a href="/@controllerName/@actionName">Tambah Data</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white icon-money"></i><span class="break"></span>Tambah Dana Masuk</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="control-group error">
                            @Html.LabelFor(model => model.DonaturId, "Donatur", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownList("DonaturId", null, "", htmlAttributes: new { rel = "chosen" })
                                @Html.ValidationMessageFor(model => model.DonaturId, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.LabelFor(model => model.NoRek, htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.NoRek)
                                @Html.ValidationMessageFor(model => model.NoRek, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.LabelFor(model => model.AtasNamaRek, htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.EditorFor(model => model.AtasNamaRek)
                                @Html.ValidationMessageFor(model => model.AtasNamaRek, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.Label("Donasi", htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @*@Html.TextBox("SKredit", "", new { @class = "auto" })*@
                                @Html.EditorFor(model => model.Kredit, new { @class = "auto" })
                                @Html.ValidationMessageFor(model => model.Kredit, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group error">
                            @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Keterangan, new { @rows = 3 })
                                @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                Batal
                            </a>
                        </div>
                    </fieldset>
                </div>
            }

        </div>
    </div><!--/span-->

</div><!--/row-->
