﻿@model Donate.Models.Mutasi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Mutasi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donatur.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donatur.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Siswa.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siswa.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoRek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoRek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtasNamaRek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtasNamaRek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
