﻿@model IEnumerable<Donate.Models.Mutasi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i> <a href="/@controllerName">Dana Masuk</a></li>
</ul>
<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Tambah data &nbsp;<i class="halflings-icon white plus"></i></a>
</p>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white icon-money"></i><span class="break"></span>Dana Masuk</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Donatur.Nama)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoRek)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AtasNamaRek)
                        </th>
                        <th>
                            @Html.DisplayName("Donasi")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Keterangan)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastModified)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Donatur.Nama)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoRek)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AtasNamaRek)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Kredit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Keterangan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModified)
                            </td>
                            @*<td class="center">
                                <a href="@Url.Action("Details", new { id=item.Id })" class="btn btn-success">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="@Url.Action("Edit", new { id=item.Id })">
                                    <i class="halflings-icon white edit"></i>
                                </a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", new { id=item.Id })">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->