﻿
@{
    ViewBag.About = "active";
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<!--about start here-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <div class="about-top">
                <h2>About</h2>
                <p></p>
            </div>
            <div class="about-bottom-main">
                <div class="about-bot">
                    <div class="col-md-6 about-bot-left">
                        <div class="col-md-4 advan-cup">
                            <a href="#" rel="title" class="zoom-mask">
                                <span class="glyphicon glyphicon-education hovicon effect-4 sub-b"
                                      aria-hidden="true">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-8 advan-text">
                            <h4>There are variations</h4>
                            <p>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain was born and I will
                                give you a complete
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 about-bot-right">
                        <div class="col-md-4 advan-cup">
                            <a href="#" rel="title" class="zoom-mask">
                                <span class="glyphicon glyphicon-leaf hovicon effect-4 sub-b"
                                      aria-hidden="true">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-8 advan-text">
                            <h4>There are variations</h4>
                            <p>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain was born and I will
                                give you a complete
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="about-bot">
                    <div class="col-md-6 about-bot-left">
                        <div class="col-md-4 advan-cup">
                            <a href="#" rel="title" class="zoom-mask">
                                <span class="glyphicon glyphicon-piggy-bank hovicon effect-4 sub-b"
                                      aria-hidden="true">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-8 advan-text">
                            <h4>There are variations</h4>
                            <p>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain was born and I will
                                give you a complete
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 about-bot-right">
                        <div class="col-md-4 advan-cup">
                            <a href="#" rel="title" class="zoom-mask">
                                <span class="glyphicon glyphicon-eye-open hovicon effect-4 sub-b"
                                      aria-hidden="true">
                                </span>
                            </a>
                        </div>
                        <div class="col-md-8 advan-text">
                            <h4>There are variations</h4>
                            <p>
                                But I must explain to you how all this mistaken idea of
                                denouncing pleasure and praising pain was born and I will
                                give you a complete
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--about end here-->
<!--testimonial start here-->
<div class="testimonial">
    <div class="container">
        <div class="testimonial-main">
            <h3>Testimonial</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>
<!--testimonial end here-->
<!--team start here-->
<div class="team">
    <div class="container">
        <div class="team-main">
            <div class="team-top"
                 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                <h3>Volunteers</h3>
            </div>
            <div class="team-bottom"
                 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                <div class="col-md-3 team-grids">
                    <!-- normal -->
                    <div class="ih-item circle effect5">
                        <a href="#">
                            <div class="img">
                                <img src="~/Content/Frontend/images/t1.jpg" alt="img" class="img-responsive" />
                            </div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>Malorum</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom">
                        <p>
                            On the other hand, we denounce with righteous indignation.
                        </p>
                        <ul>
                            <li><a href="#" class="fa"> </a></li>
                            <li><a href="#" class="tw"> </a></li>
                            <li><a href="#" class="g"> </a></li>
                        </ul>
                    </div>

                    <!-- end normal -->
                </div>
                <div class="col-md-3 team-grids">
                    <!-- normal -->
                    <div class="ih-item circle effect5">
                        <a href="#">
                            <div class="img">
                                <img src="~/Content/Frontend/images/t2.jpg" alt="img" class="img-responsive" />
                            </div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>Bonorum</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom">
                        <p>
                            On the other hand, we denounce with righteous indignation.
                        </p>
                        <ul>
                            <li><a href="#" class="fa"> </a></li>
                            <li><a href="#" class="tw"> </a></li>
                            <li><a href="#" class="g"> </a></li>
                        </ul>
                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-md-3 team-grids">
                    <!-- normal -->
                    <div class="ih-item circle effect5">
                        <a href="#">
                            <div class="img">
                                <img src="~/Content/Frontend/images/t3.jpg" alt="img" class="img-responsive" />
                            </div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>Finibus</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom">
                        <p>
                            On the other hand, we denounce with righteous indignation.
                        </p>
                        <ul>
                            <li><a href="#" class="fa"> </a></li>
                            <li><a href="#" class="tw"> </a></li>
                            <li><a href="#" class="g"> </a></li>
                        </ul>
                    </div>
                    <!-- end normal -->
                </div>
                <div class="col-md-3 team-grids">
                    <!-- normal -->
                    <div class="ih-item circle effect5">
                        <a href="#">
                            <div class="img">
                                <img src="~/Content/Frontend/images/t4.jpg" alt="img" class="img-responsive" />
                            </div>
                            <div class="info">
                                <div class="info-back">
                                    <h3>Rackham</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="team-bottom">
                        <p>
                            On the other hand, we denounce with righteous indignation.
                        </p>
                        <ul>
                            <li><a href="#" class="fa"> </a></li>
                            <li><a href="#" class="tw"> </a></li>
                            <li><a href="#" class="g"> </a></li>
                        </ul>
                    </div>
                    <!-- end normal -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--team end here-->
