﻿@model Donate.Models.Gallery

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i><a href="/@controllerName">Gallery</a></li>
    <li><i class="icon-angle-right"></i><i class="ui-icon-plus"></i><a href="/@controllerName/@actionName/@Model.Id">Ubah Data</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Tambah Data Galerry</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("Edit", "ManageGallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <fieldset>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="control-group hidden-phone">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextAreaFor(model => model.Description, new { @row = 4 })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Image">File input</label>
                            <div class="controls">
                                <input class="input-file uniform_on" id="Image" name="Image" type="file">
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "help-inline" })
                                <p class="text-info">*abaikan jika gambar lama masih digunakan</p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Simpan</button>
                            <a href="@Url.Action("Index")" class="btn btn-danger">
                                Batal
                            </a>
                        </div>
                    </fieldset>
                </div>
            }

        </div>
    </div><!--/span-->

</div><!--/row-->