﻿@model IEnumerable<Donate.Models.Gallery>

@{
    ViewBag.Title = "Manage Galery";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}
<style>
    .thumbnail {
      position: relative;
      width: 100px;
      height: 100px;
      overflow: hidden;
    }
    .thumbnail img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
    }
</style>


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i> <a href="/@controllerName">Gallery</a></li>
</ul>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">Tambah data &nbsp;<i class="halflings-icon white plus"></i></a>
</p>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Data Gallery</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table id="table" class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>
                            <i class="halflings-icon picture"></i>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th>
                            @Html.DisplayName("Tgl Update")
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var dateDiff = (DateTime.Today - item.LastModified.Date).TotalDays;
                        string date = (dateDiff == 0) ? "Today, " : (dateDiff == 1) ? "Yesterday, " : item.LastModified.ToShortDateString() + ", ";
                        <tr>
                            <td>
                                <div class="thumbnail">
                                    <img src="~/ImageGallery/@item.ImageName" alt="Image" />
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td style="text-align: center;">
                                <input type="checkbox"
                                       class="js-check"
                                       data-role="@item.Id"
                                       @if (item.IsActive) { @("checked") } />

                            </td>
                            <td style="white-space:nowrap">
                                @date @item.LastModified.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)
                            </td>
                            <td class="center" style="white-space:nowrap">
                                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="@Url.Action("Edit", new { id = item.Id })">
                                    <i class="halflings-icon white edit"></i>
                                </a>
                                <a class="btn btn-danger confirmation" href="@Url.Action("DeleteConfirmed", new { id = item.Id })">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->


@section scripts
{
    <script>
        $(function () {
            let table = $('#table');
            table.on('click', '.js-check', function (e) {
                e.preventDefault();
                let checkbox = $(this);

                $.ajax({
                    url: '/ManageGallery/Tampil/' + checkbox.attr('data-role'),
                    method: 'POST',
                    success: function sweet() {
                        checkbox.prop("checked", !checkbox.prop("checked"));
                        swal('Selesai!', 'Success Update', 'success')
                            .then(function (isConfirm) {
                                if (isConfirm) {
                                    location.reload();
                                }
                            });
                    }
                })
            });
        });

        function sebSweetConfirm(originLink) {
            swal({
                title: 'Anda yakin?',
                text: "Akan menghapus data ini!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, hapus!',
                cancelButtonText: 'Batal',
                //closeOnConfirm: true,
                //closeOnCancel: true
            }).then(function (isConfirm) {
                if (isConfirm) {
                    window.location.href = originLink;
                }
            })
        }

        $('.confirmation').click(function (event) {
            event.preventDefault();
            var originLink = $(this).attr("href");
            sebSweetConfirm(originLink);
        });
    </script>

    @if (ViewBag.berhasilHapus != null)
    {
        <script>

            $(document).ready(function sweet() {
                swal('Selesai!', '@ViewBag.berhasilHapus', 'success');
            });

        </script>

    }
    @if (ViewBag.gagalHapus != null)
    {
        <script>

            $(document).ready(function sweet() {
                swal('Kesalahan!', '@ViewBag.gagalHapus', 'error');
            });

        </script>

    }
}