﻿@model Donate.Models.Berita

@{
    ViewBag.Blog = "active";
    ViewBag.Title = "Blog Details";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<!--detail blog start here-->
<div class="blog">
    <div class="container">
        <div class="blog-main">
            <div class="col-md-2">

            </div>
            <div class="col-md-8 blog-left">
                <a href="#"> <img src="~/ImageBerita/@Model.ImageName" alt="" class="img-responsive"> </a>
                <div class="blog-grid">
                    <div class="blog-sing">
                        <div class="grid-left">
                            <h3>@Model.LastModified.Day</h3>
                            <p>@Model.LastModified.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture)</p>
                            <p>@item.LastModified.Year</p>
                        </div>
                        <div class="grid-right">
                            <h3>@Model.Title</h3>

                            <p>@Html.Raw(Model.Content) </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    @*<div class="comment" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInRight;">
                    <h3>Comments</h3>
                    <div class="media" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                        <div class="code-in">
                            <p class="smith"><a href="#">Andey</a> <span>02 May 2016, 15:20</span></p>
                            <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img src="~/Content/Frontend/images/s1.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                    <div class="media media-1 " style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="code-in">
                            <p class="smith"><a href="#"> Rackham</a> <span>03 May 2016, 15:20</span></p>
                            <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img src="~/Content/Frontend/images/s2.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                    <div class="media" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <div class="code-in">
                            <p class="smith"><a href="#">Clara</a> <span>08 May 2016, 15:20</span></p>
                            <p class="reply"><a href="#"><i class="glyphicon glyphicon-repeat"> </i>REPLY</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="media-left">
                            <a href="#">
                                <img src="~/Content/Frontend/images/s3.png" alt="">
                            </a>
                        </div>
                        <div class="media-body">

                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                </div>
                <div class="leave" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInLeft;">
                    <h2>Leave a comment</h2>
                    <form action="#" method="post">
                        <div class="single-grid " style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">

                            <input type="text" name="Name" placeholder="Name">

                            <input type="text" name="Email" placeholder="Email">

                            <input type="text" name="Website" placeholder="Website">

                            <textarea name="comment" placeholder="Comment" required=""></textarea>
                            <label class="hvr-rectangle-out">
                                <input type="submit" value="Send">
                            </label>
                        </div>
                    </form>
                </div>*@
                    <div class="clearfix"> </div>
                </div>
            </div>
            @*<div class="col-md-4 blog-right">
            <div class="blog-cate">
                <h3>Categories</h3>
                <ul>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">Featured</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">General</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">Lorem Ipsum</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">Literature</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">Videos</a></li>
                </ul>
            </div>
            <div class="blog-cate">
                <h3>Archives</h3>
                <ul>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">January 2015</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">September 2014</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">October 2014</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">August 2014</a></li>
                    <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="#">July 2014</a></li>
                </ul>
            </div>
            <div class="blog-posts">
                <h3>Recent Posts</h3>
                <div class="blog-posts-grid">
                    <div class="col-md-5 blog-post-left">
                        <a href="#"><img src="~/Content/Frontend/images/c4.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="col-md-7 blog-post-right">
                        <h4>libero tempore</h4>
                        <p>At vero eos et accusamus et iusto ducimus</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="blog-posts-grid">
                    <div class="col-md-5 blog-post-left">
                        <a href="#"><img src="~/Content/Frontend/images/c5.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="col-md-7 blog-post-right">
                        <h4>libero tempore</h4>
                        <p>At vero eos et accusamus et iusto ducimus</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>*@
        </div>
    </div>
</div>
<!--detail blog end here-->
