﻿@model PagedList.IPagedList<Donate.Models.Berita>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Blog = "active";
    string searchString = ViewBag.searchString;
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<!--blog start here-->
<div class="blog">
    <div class="container">
        <div class="blog-main">
            <div class="blog-top">
                <h3> Blog</h3>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-8 blog-left">
                @foreach (var item in Model)
                {
                    <div class="blog-section">
                        <a href="/Blog/Details/@item.Id"> <img src="~/ImageBerita/@item.ImageName" alt="" class="img-responsive"> </a>
                        <div class="grid">
                            <div class="grid-left">
                                <h3>@item.LastModified.Day</h3>
                                <p>@item.LastModified.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture)</p>
                                <p>@item.LastModified.Year</p>
                            </div>
                            <div class="grid-right">
                                <a href="/Blog/Details/@item.Id"><h3>@item.Title</h3></a>

                                <p>@item.Ikhtisar</p>
                                <a class="bwn" href="/Blog/Details/@item.Id">Read More</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                }

                @Html.PagedListPager(Model, page => Url.Action("Index",
                new
                {
                    page,
                    currentFilter = searchString,
                    rowPerPage = ViewBag.rowPerPage
                }),
                new PagedListRenderOptions { DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
                @*<div class="pag-nations">
                    <ul class="p_n-list">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>*@
            </div>
            @*<div class="col-md-4 blog-right">
                <div class="blog-cate">
                    <h3>Categories</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">Featured</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">General</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">Lorem Ipsum</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">Literature</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">Videos</a></li>
                    </ul>
                </div>
                <div class="blog-cate">
                    <h3>Archives</h3>
                    <ul>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">January 2015</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">September 2014</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">October 2014</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">August 2014</a></li>
                        <li><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span><a href="/Blog/Details">July 2014</a></li>
                    </ul>
                </div>
                <div class="blog-posts">
                    <h3>Recent Posts</h3>
                    <div class="blog-posts-grid">
                        <div class="col-md-5 blog-post-left">
                            <a href="/Blog/Details"><img src="~/Content/Frontend/images/c4.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="col-md-7 blog-post-right">
                            <h4><a href="/Blog/Details">libero tempore</a></h4>
                            <p>At vero eos et accusamus et iusto ducimus</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="blog-posts-grid">
                        <div class="col-md-5 blog-post-left">
                            <a href="/Blog/Details"><img src="~/Content/Frontend/images/c5.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="col-md-7 blog-post-right">
                            <h4><a href="/Blog/Details">libero tempore</a></h4>
                            <p>At vero eos et accusamus et iusto ducimus</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!--blog end here-->
