﻿
@{
    ViewBag.Home = "active";
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="banner-strip">
    <div class="container">
        <div class="bann-strip-main">
            <div class="col-md-4 bann-strip-grid">
                <div class="col-md-4 b-strip-left">
                    <span class="glyphicon glyphicon-leaf hovicon effect-4 sub-b"
                          aria-hidden="true">
                    </span>
                </div>
                <div class="col-md-8 b-strip-right">
                    <h4>Excepteur sint</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 bann-strip-grid">
                <div class="col-md-4 b-strip-left">
                    <span class="glyphicon glyphicon-eye-open hovicon effect-4 sub-b"
                          aria-hidden="true">
                    </span>
                </div>
                <div class="col-md-8 b-strip-right">
                    <h4>Excepteur sint</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 bann-strip-grid">
                <div class="col-md-4 b-strip-left">
                    <span class="glyphicon glyphicon-education hovicon effect-4 sub-b"
                          aria-hidden="true">
                    </span>
                </div>
                <div class="col-md-8 b-strip-right">
                    <h4>Excepteur sint</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--vedio block start here-->
<div class="vedio">
    <div class="container">
        <div class="vedio-main">
            <div class="col-md-6 vedio-left wow fadeInLeft" data-wow-delay="0.3s">
                <h2>WHO WE ARE</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur But I must explain to you how all this mistaken
                    idea of denouncing pleasure and praising pain was born and I will
                    give you a complete account of the system.
                </p>
            </div>
            <div class="col-md-6 vedio-right wow fadeInRight"
                 data-wow-delay="0.3s">
                <iframe width="949" height="534" src="https://www.youtube.com/embed/vAArJlbCY5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--vedio block end here-->
<!--charity strip start here-->
<div class="charity">
    <div class="container">
        <div class="charity-main wow fadeInRight" data-wow-delay="0.3s">
            <h3>No one has ever become Poor by Giving</h3>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam.
            </p>
        </div>
    </div>
</div>
<!--charity strip end here-->
<!--donate start here-->
<div class="donayte">
    <div class="container">
        <div class="donate-main">
            <div class="col-md-3 donate-grid wow fadeInLeft"
                 data-wow-delay="0.3s">
                <h3>Donate Our Charity</h3>
                <h4>
                    On the other hand, we denounce with righteous indignation and
                    dislike.
                </h4>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis praesentium voluptatum
                </p>
            </div>
            <div class="col-md-3 donate-grid wow fadeInLeft"
                 data-wow-delay="0.3s">
                <div class="fall-down-effect top">
                    <div class="img-box"><img src="~/Content/Frontend/images/d1.jpg" alt="" /></div>
                    <div class="text-box">
                        <div class="text-content">
                            <h3>Help</h3>
                        </div>
                    </div>
                </div>
                <h5>Nam libero tempore</h5>
                <p>voluptates repudiandae sint et molestiae non recusandae.</p>
            </div>
            <div class="col-md-3 donate-grid wow fadeInRight"
                 data-wow-delay="0.3s">
                <div class="fall-down-effect top">
                    <div class="img-box"><img src="~/Content/Frontend/images/d2.jpg" alt="" /></div>
                    <div class="text-box">
                        <div class="text-content">
                            <h3>Help</h3>
                        </div>
                    </div>
                </div>
                <h5>Nam libero tempore</h5>
                <p>voluptates repudiandae sint et molestiae non recusandae.</p>
            </div>
            <div class="col-md-3 donate-grid wow fadeInRight"
                 data-wow-delay="0.3s">
                <div class="fall-down-effect top">
                    <div class="img-box"><img src="~/Content/Frontend/images/d3.jpg" alt="" /></div>
                    <div class="text-box">
                        <div class="text-content">
                            <h3>Help</h3>
                        </div>
                    </div>
                </div>
                <h5>Nam libero tempore</h5>
                <p>voluptates repudiandae sint et molestiae non recusandae.</p>
            </div>
        </div>
    </div>
</div>
<!--donate end here-->
<!--terisa block start here-->
<div class="terisa">
    <div class="container">
        <div class="terisa-main">
            <div class="col-md-6 terisa-left wow fadeInLeft"
                 data-wow-delay="0.3s">
                <h3>Lorem ipsum dolor sit amet, consectetur</h3>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                </p>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-star-empty"
                              aria-hidden="true"></span><a href="#"> libero tempore, cum soluta nobis</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-star-empty"
                              aria-hidden="true"></span><a href="#">Nam libero tempore, cum soluta nobis</a>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-star-empty"
                              aria-hidden="true"></span><a href="#">Tempore, cum soluta nobis Nam libero</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 terisa-right wow fadeInRight"
                 data-wow-delay="0.3s">
                <img src="~/Content/Frontend/images/h1.png" alt="" class="img-responsive" />
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--terisa block end here-->
