﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="/@controllerName">@controllerName Features</a></li>
    <li><i class="icon-angle-right"></i><a href="/@controllerName/@actionName">@controllerName</a></li>
</ul>

<div class="row-fluid">
    <div class="box yellow span12">
        <div class="box-header">
            <h2><i class="halflings-icon white white tasks"></i><span class="break"></span>Sliders</h2>
        </div>
        <div class="box-content">
            <table class="table table-striped">
                <tr>
                    <td>
                        <div class="slider sliderSimple"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin green"></div>
                        <div class="field_notice">Min: <span class="must sliderMinLabel">$180</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMax blue"></div>
                        <div class="field_notice">Max: <span class="must sliderMaxLabel">$280</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderRange red"></div>
                        <div class="field_notice">Price Range: <span class="must sliderRangeLabel">$192 - $470</span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="sliderVertical-1" class="sliderVertical greenDark"></div>
                        <div id="sliderVertical-2" class="sliderVertical greenLight"></div>
                        <div id="sliderVertical-3" class="sliderVertical pink"></div>
                        <div id="sliderVertical-4" class="sliderVertical pinkDark"></div>
                        <div id="sliderVertical-5" class="sliderVertical yellow"></div>
                        <div id="sliderVertical-6" class="sliderVertical purple"></div>
                        <div id="sliderVertical-7" class="sliderVertical blue"></div>
                        <div id="sliderVertical-8" class="sliderVertical blueDark"></div>
                        <div id="sliderVertical-9" class="sliderVertical blueLight"></div>
                        <div id="sliderVertical-10" class="sliderVertical orange"></div>
                        <div id="sliderVertical-11" class="sliderVertical orangeDark"></div>
                        <div id="sliderVertical-12" class="sliderVertical red"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-1 green"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-2 yellow"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-3 pink"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-4 red"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-5 purple"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-6 greenDark"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-7 orange"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="slider sliderMin-8 blue"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box blue span12">
        <div class="box-header">
            <h2><i class="halflings-icon white white hand-top"></i><span class="break"></span>Quick Buttons</h2>
        </div>
        <div class="box-content">

            <a class="quick-button span2">
                <i class="icon-group"></i>
                <p>Users</p>
                <span class="notification blue">1.367</span>
            </a>
            <a class="quick-button span2">
                <i class="icon-comments-alt"></i>
                <p>Comments</p>
                <span class="notification green">167</span>
            </a>
            <a class="quick-button span2">
                <i class="icon-shopping-cart"></i>
                <p>Orders</p>
            </a>
            <a class="quick-button span2">
                <i class="icon-barcode"></i>
                <p>Products</p>
            </a>
            <a class="quick-button span2">
                <i class="icon-envelope"></i>
                <p>Messages</p>
            </a>
            <a class="quick-button span2">
                <i class="icon-calendar"></i>
                <p>Calendar</p>
                <span class="notification red">68</span>
            </a>
            <div class="clearfix"></div>
        </div>
    </div><!--/span-->

</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon white white hand-top"></i><span class="break"></span>Small Quick Buttons</h2>
        </div>
        <div class="box-content">

            <a class="quick-button-small span1">
                <i class="icon-group"></i>
                <p>Users</p>
                <span class="notification blue">7</span>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-comments-alt"></i>
                <p>Comments</p>
                <span class="notification green">4</span>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-shopping-cart"></i>
                <p>Orders</p>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-barcode"></i>
                <p>Products</p>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-envelope"></i>
                <p>Messages</p>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-calendar"></i>
                <p>Calendar</p>
                <span class="notification red">8</span>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-beaker"></i>
                <p>Projects</p>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-thumbs-up"></i>
                <p>Likes</p>
                <span class="notification green">1</span>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-heart-empty"></i>
                <p>Favorites</p>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-bullhorn"></i>
                <p>Notifications</p>
                <span class="notification yellow">7</span>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-cogs"></i>
                <p>Settings</p>
            </a>
            <a class="quick-button-small span1">
                <i class="icon-dashboard"></i>
                <p>Dashboard</p>
            </a>

            <div class="clearfix"></div>
        </div>
    </div><!--/span-->

</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon white white tasks"></i><span class="break"></span>Progress Bars</h2>
        </div>
        <div class="box-content">
            <table class="table table-striped">
                <tr>
                    <td>Basic</td>
                    <td>
                        <div class="progress simpleProgress blue">80</div>
                    </td>
                </tr>
                <tr>
                    <td>Progress</td>
                    <td>
                        <div class="progress progressAnimate yellow"></div>
                        <div class="field_notice">Value: <span class="must progressAnimateValue">0%</span></div>
                    </td>
                </tr>
                <tr>
                    <td>Upload</td>
                    <td>
                        <div class="progress progressUploadAnimate pink"></div>
                        <div class="field_notice">Uploading: <span class="must progressUploadAnimateValue">0 Mb</span> / 4096 Gb</div>
                    </td>
                </tr>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon white white tasks"></i><span class="break"></span>Skill Bars</h2>
        </div>
        <div class="box-content">
            <ul class="skill-bar">
                <li>
                    <h5>Web Design ( 40% )</h5>
                    <div class="meter yellow"><span style="width: 40%"></span></div><!-- Edite width here -->
                </li>
                <li>
                    <h5>Wordpress ( 80% )</h5>
                    <div class="meter blue"><span style="width: 80%"></span></div><!-- Edite width here -->
                </li>
                <li>
                    <h5>Branding ( 100% )</h5>
                    <div class="meter pink"><span style="width: 100%"></span></div><!-- Edite width here -->
                </li>
                <li>
                    <h5>SEO Optmization ( 60% )</h5>
                    <div class="meter green"><span style="width: 60%"></span></div><!-- Edite width here -->
                </li>
            </ul>
        </div>
    </div><!--/span-->

</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon white white tasks"></i><span class="break"></span>Standard Progress Bars</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <h3>Basic</h3>
            <div class="progress">
                <div class="bar" style="width: 70%;"></div>
            </div>
            <h3>Striped</h3>
            <div class="progress progress-striped">
                <div class="bar" style="width: 30%;"></div>
            </div>
            <h3>Animated</h3>
            <div class="progress progress-striped progress-success active">
                <div class="bar" style="width: 50%;"></div>
            </div>
            <h3>Additional Colors</h3>
            <div class="progress progress-info progress-striped" style="margin-bottom: 9px;">
                <div class="bar" style="width: 20%"></div>
            </div>
            <div class="progress progress-success" style="margin-bottom: 9px;">
                <div class="bar" style="width: 40%"></div>
            </div>
            <div class="progress progress-warning progress-striped active" style="margin-bottom: 9px;">
                <div class="bar" style="width: 60%"></div>
            </div>
            <div class="progress progress-danger progress-striped" style="margin-bottom: 9px;">
                <div class="bar" style="width: 80%"></div>
            </div>
        </div>
    </div><!--/span-->
</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span12">

        <div class="box-header">
            <h2><i class="halflings-icon white white bullhorn"></i><span class="break"></span>Alerts</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content alerts">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Well done!</strong> You successfully read this important alert message.
            </div>
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
            </div>
            <div class="alert alert-block ">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Warning!</h4>
                <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
        </div>

    </div><!--/span-->
</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span12">

        <div class="box-header">
            <h2><i class="halflings-icon white white bell"></i><span class="break"></span>Growl Like Notifications</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Attention!</h4>
                <p>Click buttons below to see Pop Notifications.</p>
            </div>
            <p class="center">
                <button class="btn btn-primary" id="add-regular"><i class="halflings-icon white white bell"></i>Regular</button>
                <button class="btn btn-primary" id="add-sticky"><i class="halflings-icon white white bell"></i>Sticky</button>
                <button class="btn btn-primary" id="add-without-image"><i class="halflings-icon white white bell"></i>w/o image</button>
                <button class="btn btn-primary" id="add-gritter-light"><i class="halflings-icon white white bell"></i>White</button>
                <button class="btn btn-primary" id="remove-all"><i class="halflings-icon white white bell"></i>Remove All</button>
            </p>
        </div>

    </div><!--/span-->
</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span12">

        <div class="box-header">
            <h2><i class="halflings-icon white bell"></i><span class="break"></span>Bootstrap Notifications</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">Attention!</h4>
                <p>Click buttons below to see Pop Notifications.</p>
            </div>
            <p class="center">
                <button class="btn btn-primary noty" data-noty-options='{"text":"This is a success notification","layout":"topLeft","type":"success"}'><i class="halflings-icon white white bell"></i> Top Left</button>
                <button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert notification with fade effect","layout":"topCenter","type":"alert","animateOpen": {"opacity": "show"}}'><i class="halflings-icon white white bell"></i> Top Center (fade)</button>
                <button class="btn btn-primary noty" data-noty-options='{"text":"This is an error notification","layout":"topRight","type":"error"}'><i class="halflings-icon white white bell"></i> Top Right</button>
                <button class="btn btn-primary noty" data-noty-options='{"text":"This is a success information","layout":"top","type":"information"}'><i class="halflings-icon white white bell"></i> Top Full Width</button>
                <button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert notification with fade effect","layout":"center","type":"alert","animateOpen": {"opacity": "show"}}'><i class="halflings-icon white white bell"></i> Center (fade)</button>
                <button class="btn btn-primary noty" data-noty-options='{"text":"This is an error notification","layout":"center","type":"error"}'><i class="halflings-icon white white bell"></i> Center</button>

                <button class="btn btn-primary noty" data-noty-options='{"text":"This is an error notification","layout":"bottomLeft","type":"error"}'><i class="halflings-icon white white bell"></i> Bottom Left</button>
                <button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert notification with fade effect","layout":"bottomRight","type":"alert","animateOpen": {"opacity": "show"}}'><i class="halflings-icon white white bell"></i> Bottom Right (fade)</button>

                <button class="btn btn-primary noty" data-noty-options='{"text":"This is an alert","layout":"bottom","type":"alert","closeButton":"true"}'><i class="halflings-icon white white bell"></i> Bottom Full Width with Close Button</button>
            </p>
        </div>

    </div><!--/span-->
</div><!--/row-->

<hr>

<div class="row-fluid">
    <div class="box span4">
        <div class="box-header">
            <h2><i class="halflings-icon white plus"></i><span class="break"></span>Extended Elements</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Star Rating</td>
                    <td>
                        <span class="rating">
                            <span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Popover</td>
                    <td>
                        <a href="#" class="btn btn-danger" data-rel="popover" data-content="And here's some amazing content. It's very engaging. right?" title="A Title">Hover for popover</a>
                    </td>
                </tr>
                <tr>
                    <td>Dialog</td>
                    <td>
                        <a href="#" class="btn btn-info btn-setting">Click for dialog</a>
                    </td>
                </tr>
                <tr>
                    <td>Tooltip</td>
                    <td>
                        <a href="#" title="Tooltip, you can change the position." data-rel="tooltip" class="btn btn-warning">Hover for tooltip</a>
                    </td>
                </tr>
            </table>
        </div>
    </div><!--/span-->

    <div class="box span2">
        <div class="box-header">
            <h2><i class="halflings-icon white eye-open"></i><span class="break"></span>Labels</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <td>
                            <span class="label">Default</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-success">Success</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-warning">Warning</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-important">Important</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-info">Info</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="label label-inverse">Inverse</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--/span-->

    <div class="box span6">
        <div class="box-header">
            <h2><i class="halflings-icon white list"></i><span class="break"></span>Buttons</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content buttons">
            <p>
                <button class="btn btn-large">Large button</button>
                <button class="btn btn-large btn-primary">Large button</button>
                <button class="btn btn-large btn-danger">Large button</button>
                <button class="btn btn-large btn-warning">Large button</button>
            </p>
            <p>
                <button class="btn btn-large btn-success">Large button</button>
                <button class="btn btn-large btn-info">Large button</button>
                <button class="btn btn-large btn-inverse">Large button</button>
            </p>
            <p>

            </p>
            <div class="btn-group">
                <button class="btn btn-large">Large Dropdown</button>
                <button class="btn btn-large dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="halflings-icon white star"></i> Action</a></li>
                    <li><a href="#"><i class="halflings-icon white tag"></i> Another action</a></li>
                    <li><a href="#"><i class="halflings-icon white download-alt"></i> Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="halflings-icon white tint"></i> Separated link</a></li>
                </ul>
            </div>

            <hr>

            <p class="btn-group">
                <button class="btn">Left</button>
                <button class="btn">Middle</button>
                <button class="btn">Right</button>
            </p>
            <p>
                <button class="btn btn-small"><i class="halflings-icon white white star"></i> Icon button</button>
                <button class="btn btn-small btn-primary">Small button</button>
                <button class="btn btn-small btn-danger">Small button</button>
                <button class="btn btn-small btn-warning">Small button</button>
                <button class="btn btn-small btn-success">Small button</button>

            </p>
            <p>
                <button class="btn btn-small btn-info">Small button</button>
                <button class="btn btn-small btn-inverse">Small button</button>
                <button class="btn btn-large btn-primary btn-round">Round button</button>
                <button class="btn btn-large btn-round"><i class="halflings-icon white white ok"></i></button>
                <button class="btn btn-primary"><i class="halflings-icon white white edit"></i></button>
            </p>
            <p>
                <button class="btn btn-mini">Mini button</button>
                <button class="btn btn-mini btn-primary">Mini button</button>
                <button class="btn btn-mini btn-danger">Mini button</button>
                <button class="btn btn-mini btn-warning">Mini button</button>
                <button class="btn btn-mini btn-info">Mini button</button>
                <button class="btn btn-mini btn-success">Mini button</button>
                <button class="btn btn-mini btn-inverse">Mini button</button>
            </p>

        </div>
    </div><!--/span-->

</div><!--/row-->

<hr>

<div class="row-fluid">

    <div class="box span12">
        <div class="box-header">
            <h2><i class="halflings-icon white th"></i><span class="break"></span>Tabs</h2>
        </div>
        <div class="box-content">
            <ul class="nav tab-menu nav-tabs" id="myTab">
                <li class="active"><a href="#info">Info</a></li>
                <li><a href="#custom">Custom</a></li>
                <li><a href="#messages">Messages</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="info">
                    <p>

                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>

                </div>
                <div class="tab-pane" id="custom">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="tab-pane" id="messages">
                    <p>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                    </p>
                    <p>
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer
                    </p>
                </div>
            </div>
        </div>
    </div><!--/span-->

</div><!--/row-->