﻿@model Donate.Models.Berita

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="/Dashboard">Home</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><i class="icon-list"></i><a href="/@controllerName">Berita</a></li>
    <li><i class="icon-angle-right"></i> <i class="ui-icon-plus"></i> <a href="/@controllerName/@actionName/@Model.Id">Details Data</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white zoom-in"></i><span class="break"></span>Details Data Berita</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Content)
                </dt>

                <dd>
                    @Html.Raw(Model.Content)
                </dd>

                <dt>
                    @Html.DisplayName("Gambar")
                </dt>

                <dd>
                    <img src="~/ImageBerita/@Model.ImageName" class="img-responsive img-rounded"  width="460" height="345" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastModified)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastModified)
                </dd>

            </dl>
            <p>
                <a href="@Url.Action("Edit", new { id = Model.Id})" class="btn btn-default">
                    Edit Data
                </a>
                <a href="@Url.Action("Index")" class="btn btn-danger">
                    Kembali
                </a>
            </p>

        </div>
    </div><!--/span-->

</div><!--/row-->